@import "./funciones";

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    text-align: center;
    padding-top: 3em;
    margin-bottom: 3em;
    label{
        @include labels();
    }
    input{
        @include inputs();
        width: 80%;
    }
    select {
        @include inputs();
        width: 80%;
    }
    .carrito{
        .libro-descrip{
            max-height: 220px;
            padding: 20px;
            width: 100%;
            box-shadow: 0 6px 10px 0 #666;
            border: 5px black;
        }
        .btn-eliminar {
            position: absolute;
            top: 78%;
            left: 88%;
            width: 70px;
            height: 70px;
            background-color: red;
            border-radius: 5%;
            transition: all 0.1s ease-in-out;
            border: none;
            padding: 0%;
         }
    }
}

.popup-content{
    font-family: sans-serif;
    h2{
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        padding: 1.5em 0 0.1em 0;
    }
    .contenedor-1{
        display: grid;
        grid-template-columns: 50% 50%;
        .propietarios{
            label{
                @include labels();
            }
            input{
                @include inputs();
            }
            select {
                @include inputs();
            }
        }
        .foraneos{
            label{
                @include labels();
                padding-left: 4em;
            }
            select{
                @include inputs();
            }
        }
    }
    .contenedor-2{
        .largos{
            label{
                @include labels();
                padding-right: 5px;
            }
            input{
                @include inputs();
                width: 80%;
            }
            select{
                @include inputs();
                width: 80%;
            }
        }
    }
    .contenedor-3{
        display: grid;
        grid-template-columns: 50% 50%;
        .electronico{
            label{
                @include labels();
            }
            input{
                @include inputs();
            }
        }
        .papel{
            label{
                @include labels();
                
            }
            input{
                @include inputs();
            }
        }
    }
    #btnSend {
        padding: 1em;
        background-color: rgb(15, 15, 105);
        border-radius: 10px;
        width: 30%;
        margin-left: 35%;
        margin-top: 1em;
    }
}

table {
    margin-top: 0.5em;
    overflow: auto;
    display: block;
    table-layout: auto;
    height: 85%;
}

.padd {
    padding: 0.5em 20px 0pc 20px;
}

h1{
    width: 100%;
    padding-top: 0.8em;
    font-size: 10px;
    text-align: center;
 }

 tr {
     text-align: center;
 }


 //-------------------- Popup ---------------------

 .popup-content {
    position: absolute;
    top: 0;
    margin: auto;
    background: rgb(255, 255, 255);
    width: 60%;
    padding: 5px;
    border: 1px solid #d7d7d7;
  }

  .popup-arrow {
    color: rgb(255, 255, 255);
  }

  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    border-radius: 5px;
  }
  
  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-arrow {
    filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
    color: #fff;
    stroke-width: 2px;
    stroke: #d7d7d7;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
  }

  html[data-theme='dark'] .popup-arrow > svg {
    color: rgb(41, 45, 62);
    stroke-width: 2px;
    stroke: #9a9595;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
  }

//------------------- /Popup ---------------------