main {
    padding: 20px 20px 20px 20px;
    .banner {
        object-fit: none; /* Do not scale the image */ 
        object-position: center; /* Center the image within the element */ 
        width: 100%; 
        max-height: 40vh; 
        margin-bottom: 1rem; 
    }
}