main {
    font-family: sans-serif;
    .banner {
        background-image: url(https://s1.1zoom.me/b2435/30/Library_Book_Lamp_569455_1920x1080.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        margin-bottom: 2rem;
        .bottom {
            position: absolute;
            bottom: 8px;
            right: 16px;
            text-align: right;
            color: white;
            font-size: 4.5vw;
            margin-right: 2rem;
            padding-right: 3rem;
            border-right: 10px solid white;
        }
    }

    .secciones {
        margin: 3em 0em 2em 0em;
    }

    .titulos {
        font-size: 2em;
        text-align: center;
    }

    .popular {
        padding: 20px 20px 20px 20px;
        width: 100%;
        .book {
            margin: 0vw 1.5em 0em 1.5em;
            position: relative;
            width: 300px;
            border-radius: 4px;
            background-color: white;
            .book-top {
                text-align: center;
                padding: 0.8em;
                color: white;
                color: black;
                padding: 1em 0em 1em 0em;
            }
            .book-cover {
                margin: 0.5em auto 0.5em auto;
                -ms-interpolation-mode: bicubic;
            }
            .book-footer {
                text-align: center;
                margin: 4px;
                padding: 1em 0em 0.5em 0em;
            }
        }
        .btn-agregar-carro {
            position: absolute;
            top: 78%;
            left: 88%;
            width: 70px;
            height: 70px;
            background-color: red;
            border-radius: 50%;
            box-shadow: 0 6px 10px 0 #666;
            transition: all 0.1s ease-in-out;
            border: none;
            padding: 0%;
          
            font-size: 50px;
            color: white;
            text-align: center;
            line-height: 20px;
          
            position: fixed;
         }
          
         .btn-agregar-carro:hover {
            box-shadow: 0 6px 14px 0 #666;
            transform: scale(1.05);
         }
    }
}


.react-multi-carousel-item{
    max-width: 380px;
    min-width: 230px;
    padding: 1em 0px 1em 0px;
    margin: 0px 25px;
}

//-------------------- Popup ---------------------

 .popup-content {
    position: absolute;
    top: 0;
    margin: auto;
    background: rgb(255, 255, 255);
    width: 60%;
    padding: 5px;
    border: 1px solid #d7d7d7;
  }

  .popup-arrow {
    color: rgb(255, 255, 255);
  }

  [role='tooltip'].popup-content {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    border-radius: 5px;
  }
  
  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-arrow {
    filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
    color: #fff;
    stroke-width: 2px;
    stroke: #d7d7d7;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
  }

  html[data-theme='dark'] .popup-arrow > svg {
    color: rgb(41, 45, 62);
    stroke-width: 2px;
    stroke: #9a9595;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
  }

//------------------- /Popup ---------------------