main {
    font-family: sans-serif;
    .banner {
        background-image: url(https://s1.1zoom.me/b2435/30/Library_Book_Lamp_569455_1920x1080.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 98vh;
        margin-bottom: 2rem;
        .bottom {
            position: absolute;
            bottom: 8px;
            right: 16px;
            text-align: right;
            color: white;
            font-size: 4.5vw;
            margin-right: 2rem;
            padding-right: 3rem;
            border-right: 10px solid white;
        }
    }
    .popular {
        padding: 20px 20px 20px 20px;
        margin-top: 1.5%;
        width: 100%;
        .book {
            //margin: 0vw 1.5em 2.5em 1.5em;
            position: relative;
            width: 300px;
            border: 2px solid rgba(7, 14, 44, 0.938);
            border-radius: 10px;
            .book-top {
                background-color: rgba(7, 14, 44, 0.938);
                text-align: center;
                padding: 0.8em;
                color: white;
            }
            .book-cover {
                margin: 0.5em auto 0.5em auto;
                background-color: rgb(221, 220, 179);
                -ms-interpolation-mode: bicubic;
            }
            .book-footer {
                text-align: center;
                margin: 4px;
            }
        }

    }
}