main {
    padding: 20px 20px 20px 20px;
    font-family: sans-serif;
    .banner {
        position: relative;
        height: auto;
        margin-bottom: 4rem;
        .banner-img {
            position: relative;
            object-fit: none; /* Do not scale the image */
            object-position: center; /* Center the image within the element */ 
            width: 100%; 
            max-height: 40vh; 
            margin: 0%;
        }
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 2em;
        }
    }
    .popular {
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .book {
            margin: 0vw 1.5em 2.5em 1.5em;
            position: relative;
            width: 200px;
            border: 2px solid black;
            .book-top {
                background-color: rgba(7, 14, 44, 0.938);
                text-align: center;
                padding: 0.8em;
                color: white;
            }
            .book-cover {
                margin: 0.5em auto 0.5em auto;
                background-color: rgb(221, 220, 179);
                -ms-interpolation-mode: bicubic;
            }
            .book-footer {
                text-align: center;
                margin: 4px;
            }
        }

    }
}