@mixin labels {
    float: left;
    width: 11em;
    padding-right: 2px;
}

@mixin inputs {
    margin-bottom: 0.5em;
    width: 60%;
    height: 2.2em;
}

.main{
    font-family: sans-serif;
    h2{
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        padding: 1.5em 0 0.1em 0;
    }
    .contenedor-1{
        display: grid;
        grid-template-columns: 50% 50%;
        .propietarios{
            label{
                @include labels();
            }
            input{
                @include inputs();
            }
        }
        .foraneos{
            label{
                @include labels();
                padding-left: 4em;
            }
            select{
                @include inputs();
            }
        }
    }
    .contenedor-2{
        .largos{
            label{
                @include labels();
                padding-right: 5px;
            }
            input{
                @include inputs();
                width: 80%;
            }
        }
    }
    .contenedor-3{
        display: grid;
        grid-template-columns: 50% 50%;
        .electronico{
            label{
                @include labels();
            }
            input{
                @include inputs();
            }
        }
        .papel{
            label{
                @include labels();
            }
            input{
                @include inputs();
            }
        }
    }

    button{
        padding: 1em;
        background-color: rgb(15, 15, 105);
        border-radius: 10px;
        width: 20%;
        margin-left: 40%;
        margin-top: 1em;
    }
}