$ColorBack: rgb(16, 21, 31);
$ColorTexto: white;

* {
    box-sizing: border-box;
    padding: 0;
  }

  .main-nav{
    width: 100%;
    z-index: 200;
    position: fixed;
    .nav {
      background-color: $ColorBack;
      font-family: sans-serif;
      .navItem {
          color: $ColorTexto;
        }
      #nav-usuario {
        img {
          background-repeat: no-repeat;
          background-position: 0 top;
          content: "";
          display: inline-block;
          height: 30;
          margin-right: 10px;
          vertical-align: middle;
          width: 30px;
          border-radius: 100%;
          border: 1px solid black;
        }
      }
    }
  }