* {
    box-sizing: border-box;
    padding: 0;
}

.welcome-box {
    width: 22vh;
    height: 22vh;
    border-radius: 100%;
    background: rgba(120,120,120,0.5);
    color: #fff;
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.welcome-box img {
      position: relative;
      width: 100%;
      height: 100%;
  }

h1 {
    margin-top: 2em;
    text-align: center;
    font-size: 2.2em;
    top: 50vh;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}